{
  "singleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./assets/globals.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ]
}